* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 15vw;
    height: 14vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #042138;
    z-index: 100;
    box-shadow: 0px 3px 3px #011221; */
}

/* header h1 {
    margin: auto;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    cursor: default;
} */

header img {
    width: 85%;
    height: 75%;
    margin: auto;
}

nav {
    width: 14vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 14vh;
    left: 1.5vw;
}

.navbutton {
    width: 100%;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    background-color: #042138;
    z-index: 100;
    box-shadow: 0px 3px 3px #011221;
}

.navbutton p {
    margin: auto;
    text-align: center; 
    color: #ffffff;  
    font-weight: 600; 
}

#newWoButton {
    background-color: #489174;
    box-shadow: 3px 3px 3px #277455;
}

.navbutton:hover {    
    background-color: #ffffff;
    z-index: 0;
    box-shadow: none;
    cursor: pointer;
}

.navbutton:hover p {        
    color: #011221;
    font-weight: 900;
    cursor: pointer;
}

#newWoButton:hover {
    background-color: #ffffff;
    z-index: 0;
    box-shadow: none;
}

#newWoButton:hover p {
    color: #489174;
    font-weight: 900;
}

.navIcon {
    width: 3.5vw;
    height: 100%;
    display: flex;
    border-radius: 5rem;
    background-color: #011221;
    z-index: 100;
    box-shadow: 2px 2px 2px #000203;
}

#newWoButton .navIcon {
    background-color: #277455;
    z-index: 100;
    box-shadow: 2px 2px 2px #003A23;
}

.navIcon img {
    width: 50%;
    height: 50%;
    margin: auto;
}

#viewName {
    width: 50vw;
    height: 5vh;    
    display: flex;
    position: fixed;
    top: 0;
    left: 25vw;
    background-color: #042138;
    z-index: 100;
    box-shadow: 0px 3px 3px #011221;    
}

#viewName h3 {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #ffffff;
    cursor: default;
}

#tableHead {
    width: 50vw;
    height: 10vh;    
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 5vh;
    left: 25vw;
    background-color: #294E6D;
    z-index: 50;
    box-shadow: 0px 3px 3px #042138;
}

#tableHead p {
    width: 20%;
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    cursor: default;
}

#woTable {
    width: 50vw;
    height: auto;
    margin: auto;
    margin-top: 15vh; 
    margin-left: 25vw;   
    display: flex;
    flex-direction: column;    
}

.woLine {
    width: 50vw;
    height: 4vh;
    margin: auto;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
}

.woLine p {
    width: 20%;
    margin: auto;
    text-align: center; 
    color: #123552;      
}

#toolId {
    font-weight: 900;
}

#status {
    color: #FF6941;
    font-weight: 900;
}

.woLine:hover {
    background-color: #dddddd;
    z-index: 0;
    box-shadow: none;
    cursor: pointer;  
}

.woLine:hover p {
    cursor: pointer;  
}

#newWoView {
    width: 50vw;
    height: 5vh;    
    display: flex;
    position: fixed;
    top: 0;
    left: 25vw;
    background-color: #489174;
    z-index: 100;
    box-shadow: 0px 3px 3px #277455;    
}

#newWoView h3 {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #ffffff;
    cursor: default;
}

#newWoForm {
    width: 50vw;
    height: 100vh;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    /* margin-top: 5vh;
    border: solid 5px #489174; */
}

#newWoForm #equipmentInfo {

}

#newWoForm #equipmentInfo {
    
}